@charset "UTF-8";
.App {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}
.App .intro {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #737373;
  width: 100%;
  height: 100vh;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
.App .intro .header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
  margin-top: 25px;
  transition: all 0.2s linear;
  /* превратить в крестик,если актив есть*/
  /* превратить в крестик,если актив есть*/
  /* Burger menu btn */
}
.App .intro .header nav {
  position: relative;
  width: 50%;
  min-width: 400px;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 100;
}
.App .intro .header nav a {
  position: relative;
  margin: 15px;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  transition: all 0.2s linear;
}
.App .intro .header nav a:hover {
  color: rgb(225, 225, 66);
}
.App .intro .header nav a::after {
  content: "";
  position: absolute;
  display: none;
  width: 100%;
  height: 3px;
  background-color: rgb(225, 225, 66);
  top: 100%;
  left: 0;
  z-index: 1;
  transition: all 0.5s linear;
}
.App .intro .header nav a:hover::after {
  display: block;
}
.App .intro .header nav.active {
  display: flex;
  flex-direction: column;
  margin: 30px 70px 15px 0;
}
.App .intro .header nav::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  top: 50%;
  right: 125%;
  z-index: 1;
}
.App .intro .header .nav_toggle {
  display: none;
  position: absolute;
  width: 30px;
  top: 38px;
  right: 40px;
  z-index: 3;
  padding: 8px 0;
  cursor: pointer;
}
.App .intro .header .nav_toggle.active .toggle_item {
  background: none;
}
.App .intro .header .nav_toggle.active .toggle_item::before {
  transform-origin: left top;
  transform: rotate(45deg) translateX(-2px);
  background: #000;
  transition: transform 0.3s linear;
}
.App .intro .header .nav_toggle.active .toggle_item::after {
  transform-origin: left bottom;
  transform: rotate(-45deg) translateX(-3px);
  background: #000;
  transition: transform 0.3s linear;
}
.App .intro .header .toggle_item {
  /* display: none; */
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin: auto;
}
.App .intro .header .toggle_item::before,
.App .intro .header .toggle_item::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
}
.App .intro .header .toggle_item::before {
  top: 0;
}
.App .intro .header .toggle_item::after {
  bottom: 0;
}
.App .intro .fixed {
  min-height: 90px;
  position: fixed;
  background-color: #c3c3c3;
  margin-top: 0;
  padding-top: 10px;
}
.App .intro .fixed nav::after {
  display: none;
}
.App .intro :hover.fixed {
  background-color: #737373;
}
.App .intro .active {
  background-color: #737373;
}
.App .intro .about {
  position: absolute;
  top: 25%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.App .intro .about .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 10px;
  overflow: hidden;
}
.App .intro .about .avatar img {
  width: 90%;
  max-width: 600px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgb(208, 208, 208);
}
.App .intro .about .about_contentBox {
  position: relative;
  width: 60%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 40px;
}
.App .intro .about .about_contentBox header {
  font-weight: 700;
  font-size: 35px;
}
.App .intro .about .about_contentBox .about_text {
  width: 85%;
}
.App .intro .about .about_contentBox .about_text p {
  margin: 20px 0;
  width: 100%;
  font-weight: 300;
  font-size: 22px;
  text-align: justify;
}
.App .intro .about .about_contentBox .about_text p span {
  font-weight: 400;
  color: rgb(225, 225, 66);
}
.App .intro::after {
  content: "";
  position: absolute;
  display: block;
  width: 40%;
  height: 3px;
  background-color: #fff;
  bottom: 100px;
  left: 60%;
  z-index: 1;
}
.App .skills {
  width: 100%;
  height: 100vh;
  background-color: rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App .skills .skills_content {
  display: flex;
  flex-direction: column;
}
.App .skills .skills_content .skills_box {
  display: flex;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.App .skills .skills_content .skills_box h2 {
  font-size: 22px;
  margin: 20px 10px 5px 40px;
}
.App .skills .skills_content .skills_box ul {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.App .skills .skills_content .skills_box ul li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  list-style-type: none;
  padding: 10px;
  margin: 10px;
}
.App .skills .skills_content .skills_box ul li img {
  max-width: 120px;
  height: 120px;
}
.App .skills .skills_content .skills_box ul li p {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
}
.App .portfolio {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 40px 15px;
}
.App .portfolio .porfolio_content {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App .portfolio .porfolio_content .portfolio_item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  max-width: 1300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 50px;
}
.App .portfolio .porfolio_content .portfolio_item .name {
  width: 35%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App .portfolio .porfolio_content .portfolio_item .name header {
  font-weight: 600;
  font-size: 30px;
  margin: 10px;
  color: rgb(151, 151, 83);
}
.App .portfolio .porfolio_content .portfolio_item .name a {
  width: 90%;
  max-width: 400px;
}
.App .portfolio .porfolio_content .portfolio_item .name a img {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
  box-shadow: 2px 2px 10px grey;
  transition: all 0.2s linear;
}
.App .portfolio .porfolio_content .portfolio_item .name img:hover {
  scale: 0.97;
}
.App .portfolio .porfolio_content .portfolio_item .details {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.App .portfolio .porfolio_content .portfolio_item .details p {
  font-weight: 400;
  font-size: 22px;
  color: rgb(87, 87, 87);
}
.App .portfolio .porfolio_content .portfolio_item .details .used_technologies {
  margin: 15px;
  font-weight: 500;
  font-size: 18px;
  font-style: italic;
  color: rgb(117, 117, 117);
}
.App .portfolio .porfolio_content .portfolio_item .details .links {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 20px;
}
.App .portfolio .porfolio_content .portfolio_item .details .links a {
  margin: 10px;
  padding: 15px 40px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.App .portfolio .porfolio_content .portfolio_item .details .links :first-child {
  background-color: rgb(217, 217, 217);
  color: #24292f;
}
.App .portfolio .porfolio_content .portfolio_item .details .links :first-child:hover {
  background-color: rgb(236, 236, 236);
  box-shadow: 0 0 7px grey;
}
.App .portfolio .porfolio_content .portfolio_item .details .links :last-child {
  background-color: #2da44e;
  color: rgb(255, 255, 255);
}
.App .portfolio .porfolio_content .portfolio_item .details .links :last-child:hover {
  background-color: #41b541;
  box-shadow: 0 0 7px grey;
}
.App .contacts {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 50px 15px 70px 15px;
}
.App .contacts main {
  margin-bottom: 50px;
}
.App .contacts main .contacts_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px;
}
.App .contacts main .contacts_item a {
  text-decoration: none;
  margin: 5px 10px;
  color: rgb(87, 87, 87);
  font-size: 22px;
  font-weight: 600;
}
.App .contacts main .contacts_item a:hover {
  color: black;
  font-weight: 700;
}
.App .contacts main .contacts_item img {
  width: 50px;
}

.section_header {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}

@media (max-width: 1600px) {
  .App .intro .about {
    top: 27%;
  }
  .App .intro .about .avatar {
    width: 35%;
  }
  .App .intro .about .avatar img {
    width: 400px;
    height: 400px;
  }
  .App .intro .about .about_contentBox {
    padding-right: 25px;
    width: 65%;
  }
  .App .intro .about .about_contentBox header {
    font-weight: 700;
    font-size: 30px;
  }
  .App .intro .about .about_contentBox .about_text p {
    margin: 15px 0;
    font-size: 18px;
  }
  .App .portfolio .porfolio_content {
    margin: 10px;
  }
  .App .portfolio .porfolio_content .portfolio_item .name header {
    font-size: 25px;
  }
  .App .portfolio .porfolio_content .portfolio_item .name a {
    max-width: 350px;
  }
  .App .portfolio .porfolio_content .portfolio_item .name a img {
    max-width: 350px;
  }
  .App .portfolio .porfolio_content .portfolio_item .details p {
    font-size: 18px;
  }
  .App .portfolio .porfolio_content .portfolio_item .details .used_technologies {
    font-size: 16px;
  }
  .App .portfolio .porfolio_content .portfolio_item .details .links a {
    padding: 12px 32px;
    font-size: 20px;
  }
}
@media (max-width: 1300px) {
  .App .intro .header nav a {
    font-size: 20px;
  }
  .App .intro .about {
    top: 25%;
  }
  .App .intro .about .avatar img {
    width: 320px;
    height: 320px;
  }
  .App .intro .about .about_contentBox {
    padding-right: 15px;
  }
  .App .intro .about .about_contentBox header {
    font-size: 26px;
  }
  .App .intro .about .about_contentBox .about_text {
    width: 90%;
  }
  .App .intro .about .about_contentBox .about_text p {
    margin: 13px 0;
    font-size: 16px;
  }
  .App .skills .skills_content .skills_box h2 {
    font-size: 18px;
    margin-left: 35px;
    margin-top: 10px;
  }
  .App .skills .skills_content .skills_box ul li {
    padding: 5px;
  }
  .App .skills .skills_content .skills_box ul li img {
    width: 90px;
    height: 90px;
  }
  .App .skills .skills_content .skills_box ul li p {
    font-size: 16px;
  }
  .App .portfolio .porfolio_content {
    margin: 10px;
  }
  .App .portfolio .porfolio_content .portfolio_item .name header {
    font-size: 25px;
  }
  .App .portfolio .porfolio_content .portfolio_item .name a {
    max-width: 300px;
  }
  .App .portfolio .porfolio_content .portfolio_item .name a img {
    max-width: 300px;
  }
  .App .portfolio .porfolio_content .portfolio_item .details p {
    font-size: 18px;
  }
  .App .portfolio .porfolio_content .portfolio_item .details .used_technologies {
    font-size: 16px;
  }
  .App .portfolio .porfolio_content .portfolio_item .details .links a {
    padding: 12px 32px;
    font-size: 20px;
  }
  .App .contacts main .contacts_item a {
    font-size: 18px;
  }
  .App .contacts main .contacts_item img {
    width: 45px;
  }
  .section_header {
    font-size: 30px;
    margin-bottom: 35px;
  }
}
@media (max-height: 650px) and (max-width: 1100px) {
  .App .intro .header nav a {
    font-size: 18px;
  }
  .App .intro .about {
    top: 25%;
  }
  .App .intro .about .avatar {
    width: 30%;
  }
  .App .intro .about .avatar img {
    width: 260px;
    height: 260px;
    max-width: 100%;
    max-height: 100%;
  }
  .App .intro .about .about_contentBox {
    width: 70%;
    padding-right: 5px;
  }
  .App .intro .about .about_contentBox header {
    font-size: 22px;
  }
  .App .intro .about .about_contentBox .about_text {
    width: 90%;
  }
  .App .intro .about .about_contentBox .about_text p {
    margin: 13px 0;
    font-size: 14px;
  }
  .App .intro::after {
    bottom: 60px;
  }
  .App .skills .skills_content .skills_box h2 {
    font-size: 16px;
    margin-left: 30px;
    margin-top: 5px;
  }
  .App .skills .skills_content .skills_box ul {
    margin-top: 0;
    padding: 0;
  }
  .App .skills .skills_content .skills_box ul li {
    padding: 0 5px;
  }
  .App .skills .skills_content .skills_box ul li img {
    width: 80px;
    height: 80px;
  }
  .App .skills .skills_content .skills_box ul li p {
    font-size: 16px;
  }
  .App .portfolio .porfolio_content {
    margin: 10px;
  }
  .App .portfolio .porfolio_content .portfolio_item .name header {
    font-size: 22px;
  }
  .App .portfolio .porfolio_content .portfolio_item .name a {
    max-width: 250px;
  }
  .App .portfolio .porfolio_content .portfolio_item .name a img {
    max-width: 250px;
  }
  .App .portfolio .porfolio_content .portfolio_item .details p {
    font-size: 17px;
  }
  .App .portfolio .porfolio_content .portfolio_item .details .used_technologies {
    font-size: 15px;
  }
  .App .portfolio .porfolio_content .portfolio_item .details .links a {
    padding: 12px 32px;
    font-size: 20px;
  }
  .section_header {
    font-size: 28px;
    margin-bottom: 15px;
  }
}
@media (max-width: 1000px) {
  .App .intro .header nav {
    display: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  .App .intro .header nav a {
    margin: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .App .intro .header nav::after {
    display: none;
  }
  .App .intro .header .nav_toggle {
    display: block;
  }
  .App .intro .header .toggle_item {
    display: block;
  }
}
@media (max-height: 1400px) and (max-width: 1000px) {
  .App .intro .about {
    top: 16%;
    flex-direction: column;
    align-items: center;
  }
  .App .intro .about .avatar {
    width: 320px;
    height: 320px;
    margin-bottom: 25px;
  }
  .App .intro .about .avatar img {
    width: 300px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
  }
  .App .intro .about .about_contentBox {
    width: 80%;
  }
  .App .intro .about .about_contentBox header {
    font-size: 28px;
    padding-bottom: 10px;
  }
  .App .intro .about .about_contentBox .about_text {
    width: 100%;
  }
  .App .intro .about .about_contentBox .about_text p {
    font-size: 19px;
  }
  .App .portfolio .porfolio_content .portfolio_item .name {
    width: 40%;
    padding: 0 10px;
  }
  .App .portfolio .porfolio_content .portfolio_item .details {
    width: 60%;
  }
}
@media (max-height: 1050px) and (max-width: 800px) {
  .App .intro .about {
    top: 13%;
    flex-direction: column;
    align-items: center;
  }
  .App .intro .about .avatar {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
  }
  .App .intro .about .avatar img {
    width: 280px;
    height: 280px;
  }
  .App .intro::after {
    display: none;
  }
}
@media (max-height: 950px) and (max-width: 800px) {
  .App .intro .about {
    top: 12%;
  }
  .App .intro .about .avatar {
    width: 260px;
    height: 260px;
    margin-bottom: 20px;
  }
  .App .intro .about .avatar img {
    width: 240px;
    height: 240px;
  }
  .App .intro .about .about_contentBox {
    width: 85%;
    padding-right: 0;
  }
  .App .intro .about .about_contentBox header {
    font-size: 26px;
  }
  .App .intro .about .about_contentBox .about_text p {
    font-size: 16px;
  }
}
@media (max-height: 915px) and (max-width: 600px) {
  .App .intro .about {
    top: 10%;
  }
  .App .intro .about .avatar {
    width: 220px;
    height: 220px;
    margin-bottom: 10px;
  }
  .App .intro .about .avatar img {
    width: 200px;
    height: 200px;
  }
  .App .intro .about .about_contentBox {
    width: 85%;
  }
  .App .intro .about .about_contentBox header {
    font-size: 22px;
  }
  .App .intro .about .about_contentBox .about_text p {
    font-size: 15px;
  }
  .App .skills .skills_content .skills_box ul {
    justify-content: space-around;
    margin: 0;
    padding: 10px;
  }
  .App .skills .skills_content .skills_box ul li {
    padding: 0;
    margin: 10px;
  }
  .App .skills .skills_content .skills_box ul li img {
    width: 80px;
    height: 80px;
  }
  .App .skills .skills_content .skills_box ul li p {
    font-size: 14px;
  }
  .App .portfolio .porfolio_content .portfolio_item {
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
  }
  .App .portfolio .porfolio_content .portfolio_item .name {
    width: 100%;
  }
  .App .portfolio .porfolio_content .portfolio_item .name header {
    font-size: 24px;
  }
  .App .portfolio .porfolio_content .portfolio_item .name a {
    width: 90%;
  }
  .App .portfolio .porfolio_content .portfolio_item .name a img {
    width: 100%;
  }
  .App .portfolio .porfolio_content .portfolio_item .details {
    width: 100%;
  }
  .App .portfolio .porfolio_content .portfolio_item .details p {
    margin: 14px;
    text-align: justify;
  }
  .App .portfolio .porfolio_content .portfolio_item .details .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .App .portfolio .porfolio_content .portfolio_item .details .links a {
    width: 170px;
    text-align: center;
    padding: 15px 20px;
  }
  .section_header {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
@media (max-height: 880px) and (max-width: 420px) {
  .App .intro .about .avatar {
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
  }
  .App .intro .about .avatar img {
    width: 180px;
    height: 180px;
  }
  .App .intro .about .about_contentBox header {
    font-size: 20px;
    padding-bottom: 5px;
  }
  .App .intro .about .about_contentBox .about_text p {
    font-size: 14px;
  }
  .App .portfolio .porfolio_content .portfolio_item {
    flex-direction: column;
    align-items: center;
  }
  .App .portfolio .porfolio_content .portfolio_item .name {
    width: 100%;
  }
  .App .portfolio .porfolio_content .portfolio_item .name header {
    font-size: 24px;
  }
  .App .portfolio .porfolio_content .portfolio_item .name a {
    width: 90%;
  }
  .App .portfolio .porfolio_content .portfolio_item .name a img {
    width: 100%;
  }
  .App .portfolio .porfolio_content .portfolio_item .details {
    width: 100%;
  }
  .App .portfolio .porfolio_content .portfolio_item .details p {
    margin: 14px;
  }
  .App .portfolio .porfolio_content .portfolio_item .details .links {
    align-items: center;
  }
  .App .skills {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .App .contacts main .contacts_item {
    margin: 10px 0 15px 0;
  }
  .App .contacts main .contacts_item a {
    font-size: 15px;
  }
  .App .contacts main .contacts_item img {
    width: 35px;
  }
  .App .contacts main .contacts_item .about {
    top: 8%;
  }
  .section_header {
    font-size: 25px;
    margin-top: 30px;
  }
}
@media (max-height: 750px) and (max-width: 380px) {
  .App .intro .about .avatar {
    width: 180px;
    height: 180px;
  }
  .App .intro .about .avatar img {
    width: 160px;
    height: 160px;
  }
  .App .intro .about .about_contentBox header {
    font-size: 18px;
    padding-bottom: 3px;
  }
  .App .intro .about .about_contentBox .about_text p {
    font-size: 12px;
  }
  .App .skills {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .section_header {
    margin-top: 30px;
  }
}
@media (max-height: 670px) and (max-width: 310px) {
  .App .intro .about {
    top: 100px;
  }
  .App .intro .about .avatar {
    display: none;
  }
}/*# sourceMappingURL=App.css.map */