$intro_grey: #737373;
$highlight_yellow: rgb(225, 225, 66);
$dark_yellow: rgb(151, 151, 83);
$background_2: rgb(241, 241, 241);

.App {
    height: fit-content;
    width: 100%;
    .intro {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #737373;
        width: 100%;
        height: 100vh;
        min-height: fit-content;
        .header {
            // position: relative;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding: 10px;
            margin-top: 25px;
            transition: all 0.2s linear;
            nav {
                position: relative;
                width: 50%;
                min-width: 400px;
                max-width: 900px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                z-index: 100;
                a {
                    position: relative;
                    margin: 15px;
                    color: #fff;
                    text-decoration: none;
                    font-size: 25px;
                    transition: all 0.2s linear;
                }
                a:hover {
                    color: $highlight_yellow;
                }
                a::after {
                    content: "";
                    position: absolute;
                    display: none;
                    width: 100%;
                    height: 3px;
                    background-color: $highlight_yellow;
                    top: 100%;
                    left: 0;
                    z-index: 1;
                    transition: all 0.5s linear;
                }
                a:hover::after {
                    display: block;
                }
            }
            nav.active {
                display: flex;
                flex-direction: column;
                margin: 30px 70px 15px 0;
            }
            nav::after {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 3px;
                background-color: #fff;
                top: 50%;
                right: 125%;
                z-index: 1;
            }

            // Nav - burger menu button -->
            .nav_toggle {
                display: none;
                position: absolute;
                width: 30px;
                top: 38px;
                right: 40px;
                z-index: 3;
                padding: 8px 0;
                cursor: pointer;
            }
            /* превратить в крестик,если актив есть*/
            .nav_toggle.active .toggle_item {
                background: none;
            }
            .nav_toggle.active .toggle_item::before {
                transform-origin: left top;
                transform: rotate(45deg) translateX(-2px);
                background: #000;
                transition: transform 0.3s linear;
            }
            .nav_toggle.active .toggle_item::after {
                transform-origin: left bottom;
                transform: rotate(-45deg) translateX(-3px);
                background: #000;
                transition: transform 0.3s linear;
            }
            /* превратить в крестик,если актив есть*/

            .toggle_item {
                /* display: none; */
                width: 100%;
                height: 3px;
                background-color: #fff;
                margin: auto;
            }

            .toggle_item::before,
            .toggle_item::after {
                content: "";
                width: 100%;
                height: 3px;
                background-color: #fff;
                position: absolute;
            }

            .toggle_item::before {
                top: 0;
            }
            .toggle_item::after {
                bottom: 0;
            }
            /* Burger menu btn */
        }
        .fixed {
            min-height: 90px;
            position: fixed;
            background-color: #c3c3c3;
            margin-top: 0;
            padding-top: 10px;
            nav::after {
                display: none;
            }
        }
        :hover.fixed {
            background-color: #737373;
        }
        .active {
            background-color: $intro_grey;
        }

        .about {
            position: absolute;
            top: 25%;
            width: 100%;
            display: flex;
            flex-direction: row;

            .avatar {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40%;
                padding: 10px;
                overflow: hidden;

                img {
                    width: 90%;
                    max-width: 600px;
                    border-radius: 50%;
                    box-shadow: 0 0 0 2px rgb(208, 208, 208);
                }
            }

            .about_contentBox {
                position: relative;
                width: 60%;
                color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-right: 40px;

                header {
                    font-weight: 700;
                    font-size: 35px;
                }
                .about_text {
                    width: 85%;
                    p {
                        margin: 20px 0;
                        width: 100%;
                        font-weight: 300;
                        font-size: 22px;
                        text-align: justify;

                        span {
                            font-weight: 400;
                            color: $highlight_yellow;
                        }
                    }
                }
            }
        }
    }
    .intro::after {
        content: "";
        position: absolute;
        display: block;
        width: 40%;
        height: 3px;
        background-color: #fff;
        bottom: 100px;
        left: 60%;
        z-index: 1;
    }

    // SKILLS
    .skills {
        width: 100%;
        height: 100vh;
        background-color: $background_2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .skills_content {
            display: flex;
            flex-direction: column;
            .skills_box {
                display: flex;
                flex-direction: column;
                width: fit-content;

                h2 {
                    font-size: 22px;
                    margin: 20px 10px 5px 40px;
                }
                ul {
                    width: 100%;
                    max-width: 900px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: wrap;
                    // padding: 10px;

                    li {
                        width: fit-content;
                        list-style-type: none;
                        padding: 10px;
                        margin: 10px;

                        img {
                            max-width: 120px;
                            height: 120px;
                        }
                        p {
                            text-align: center;
                            font-weight: 400;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    // PORTFOLIO
    .portfolio {
        width: 100%;
        height: fit-content;
        background-color: $background_2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 40px 15px;

        .porfolio_content {
            width: 100%;
            height: fit-content;
            margin: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .portfolio_item {
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                width: 95%;
                max-width: 1300px;
                height: fit-content;
                margin-bottom: 50px;

                .name {
                    width: 35%;
                    height: fit-content;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    header {
                        font-weight: 600;
                        font-size: 30px;
                        margin: 10px;
                        color: $dark_yellow;
                    }

                    a {
                        width: 90%;
                        max-width: 400px;
                        img {
                            width: 100%;
                            max-width: 400px;
                            border-radius: 15px;
                            box-shadow: 2px 2px 10px grey;
                            transition: all 0.2s linear;
                        }
                    }

                    img:hover {
                        scale: 0.97;
                    }
                }

                .details {
                    width: 65%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: fit-content;

                    p {
                        font-weight: 400;
                        font-size: 22px;
                        color: rgb(87, 87, 87);
                    }

                    .used_technologies {
                        margin: 15px;
                        font-weight: 500;
                        font-size: 18px;
                        font-style: italic;
                        color: rgb(117, 117, 117);
                    }

                    .links {
                        height: fit-content;
                        margin-top: 20px;
                        a {
                            margin: 10px;
                            padding: 15px 40px;

                            text-decoration: none;
                            border-radius: 6px;
                            font-weight: 600;
                            font-size: 22px;
                            cursor: pointer;
                            transition: all 0.2s linear;
                        }
                        :first-child {
                            background-color: rgb(217, 217, 217);
                            color: #24292f;
                        }
                        :first-child:hover {
                            background-color: rgb(236, 236, 236);
                            box-shadow: 0 0 7px grey;
                        }
                        :last-child {
                            background-color: #2da44e;
                            color: rgb(255, 255, 255);
                        }
                        :last-child:hover {
                            background-color: #41b541;
                            box-shadow: 0 0 7px grey;
                        }
                    }
                }
            }
        }
    }

    // CONTACTS
    .contacts {
        width: 100%;
        height: fit-content;
        background-color: $background_2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 50px 15px 70px 15px;

        main {
            margin-bottom: 50px;
            .contacts_item {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 15px;
                a {
                    text-decoration: none;
                    margin: 5px 10px;
                    color: rgb(87, 87, 87);
                    font-size: 22px;
                    font-weight: 600;
                }
                a:hover {
                    color: black;
                    font-weight: 700;
                }
                img {
                    width: 50px;
                }
            }
        }
    }
}

//////
.section_header {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}

////MEDIA

@media (max-width: 1600px) {
    .App {
        //INTRO
        .intro {
            .about {
                top: 27%;
                .avatar {
                    width: 35%;
                    img {
                        width: 400px;
                        height: 400px;
                    }
                }
                .about_contentBox {
                    padding-right: 25px;
                    width: 65%;
                    header {
                        font-weight: 700;
                        font-size: 30px;
                    }
                    .about_text {
                        p {
                            margin: 15px 0;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        // PORTFOLIO
        .portfolio {
            .porfolio_content {
                margin: 10px;
                .portfolio_item {
                    .name {
                        header {
                            font-size: 25px;
                        }
                        a {
                            max-width: 350px;
                            img {
                                max-width: 350px;
                            }
                        }
                    }
                    .details {
                        p {
                            font-size: 18px;
                        }
                        .used_technologies {
                            font-size: 16px;
                        }
                        .links {
                            a {
                                padding: 12px 32px;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .App {
        //INTRO
        .intro {
            .header {
                nav {
                    a {
                        font-size: 20px;
                    }
                }
            }
            .about {
                top: 25%;
                .avatar {
                    img {
                        width: 320px;
                        height: 320px;
                    }
                }
                .about_contentBox {
                    padding-right: 15px;
                    header {
                        font-size: 26px;
                    }
                    .about_text {
                        width: 90%;
                        p {
                            margin: 13px 0;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        // SKILLS
        .skills {
            .skills_content {
                .skills_box {
                    h2 {
                        font-size: 18px;
                        margin-left: 35px;
                        margin-top: 10px;
                    }
                    ul {
                        li {
                            padding: 5px;
                            img {
                                width: 90px;
                                height: 90px;
                            }
                            p {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }

        // PORTFOLIO
        .portfolio {
            .porfolio_content {
                margin: 10px;
                .portfolio_item {
                    .name {
                        header {
                            font-size: 25px;
                        }
                        a {
                            max-width: 300px;
                            img {
                                max-width: 300px;
                            }
                        }
                    }
                    .details {
                        p {
                            font-size: 18px;
                        }
                        .used_technologies {
                            font-size: 16px;
                        }
                        .links {
                            a {
                                padding: 12px 32px;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
        // CONTACTS
        .contacts {
            main {
                .contacts_item {
                    a {
                        font-size: 18px;
                    }
                    img {
                        width: 45px;
                    }
                }
            }
        }
    }
    .section_header {
        font-size: 30px;
        margin-bottom: 35px;
    }
}

@media (max-height: 650px) and (max-width: 1100px) {
    .App {
        //INTRO
        .intro {
            .header {
                nav {
                    a {
                        font-size: 18px;
                    }
                }
            }
            .about {
                top: 25%;
                .avatar {
                    width: 30%;
                    img {
                        width: 260px;
                        height: 260px;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                .about_contentBox {
                    width: 70%;
                    padding-right: 5px;
                    header {
                        font-size: 22px;
                    }
                    .about_text {
                        width: 90%;
                        p {
                            margin: 13px 0;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .intro::after {
            bottom: 60px;
        }

        // SKILLS
        .skills {
            .skills_content {
                .skills_box {
                    h2 {
                        font-size: 16px;
                        margin-left: 30px;
                        margin-top: 5px;
                    }
                    ul {
                        margin-top: 0;
                        padding: 0;
                        li {
                            padding: 0 5px;
                            img {
                                width: 80px;
                                height: 80px;
                            }
                            p {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }

        // PORTFOLIO
        .portfolio {
            .porfolio_content {
                margin: 10px;
                .portfolio_item {
                    .name {
                        header {
                            font-size: 22px;
                        }
                        a {
                            max-width: 250px;
                            img {
                                max-width: 250px;
                            }
                        }
                    }
                    .details {
                        p {
                            font-size: 17px;
                        }
                        .used_technologies {
                            font-size: 15px;
                        }
                        .links {
                            a {
                                padding: 12px 32px;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    .section_header {
        font-size: 28px;
        margin-bottom: 15px;
    }
}

@media (max-width: 1000px) {
    .App {
        //INTRO
        .intro {
            .header {
                nav {
                    display: none;
                    width: fit-content;
                    min-width: fit-content;
                    a {
                        margin: 10px;
                        width: fit-content;
                    }
                }
                nav::after {
                    display: none;
                }
                .nav_toggle {
                    display: block;
                }

                .toggle_item {
                    display: block;
                }
            }
        }
    }
}

@media (max-height: 1400px) and (max-width: 1000px) {
    .App {
        //INTRO
        .intro {
            .about {
                top: 16%;
                flex-direction: column;
                align-items: center;
                .avatar {
                    width: 320px;
                    height: 320px;
                    margin-bottom: 25px;
                    img {
                        width: 300px;
                        height: 300px;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                .about_contentBox {
                    width: 80%;
                    header {
                        font-size: 28px;
                        padding-bottom: 10px;
                    }
                    .about_text {
                        width: 100%;
                        p {
                            font-size: 19px;
                        }
                    }
                }
            }
        }

        // PORTFOLIO
        .portfolio {
            .porfolio_content {
                .portfolio_item {
                    .name {
                        width: 40%;
                        padding: 0 10px;
                    }
                    .details {
                        width: 60%;
                    }
                }
            }
        }
    }
}

@media (max-height: 1050px) and (max-width: 800px) {
    .App {
        //INTRO
        .intro {
            .about {
                top: 13%;
                flex-direction: column;
                align-items: center;
                .avatar {
                    width: 300px;
                    height: 300px;
                    margin-bottom: 20px;
                    img {
                        width: 280px;
                        height: 280px;
                    }
                }
            }
        }
        .intro::after {
            display: none;
        }
    }
}

@media (max-height: 950px) and (max-width: 800px) {
    .App {
        //INTRO
        .intro {
            .about {
                top: 12%;
                .avatar {
                    width: 260px;
                    height: 260px;
                    margin-bottom: 20px;
                    img {
                        width: 240px;
                        height: 240px;
                    }
                }
                .about_contentBox {
                    width: 85%;
                    padding-right: 0;
                    header {
                        font-size: 26px;
                    }
                    .about_text {
                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-height: 915px) and (max-width: 600px) {
    .App {
        //INTRO
        .intro {
            .about {
                top: 10%;
                .avatar {
                    width: 220px;
                    height: 220px;
                    margin-bottom: 10px;
                    img {
                        width: 200px;
                        height: 200px;
                    }
                }
                .about_contentBox {
                    width: 85%;
                    header {
                        font-size: 22px;
                    }
                    .about_text {
                        p {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
        // SKILLS
        .skills {
            .skills_content {
                .skills_box {
                    ul {
                        justify-content: space-around;
                        margin: 0;
                        padding: 10px;
                        li {
                            padding: 0;
                            margin: 10px;
                            img {
                                width: 80px;
                                height: 80px;
                            }
                            p {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        // PORTFOLIO
        .portfolio {
            .porfolio_content {
                .portfolio_item {
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 70px;
                    .name {
                        width: 100%;
                        header {
                            font-size: 24px;
                        }

                        a {
                            width: 90%;
                            img {
                                width: 100%;
                            }
                        }
                    }
                    .details {
                        width: 100%;
                        p {
                            margin: 14px;
                            text-align: justify;
                        }
                        .links {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin: 0;
                            a {
                                width: 170px;
                                text-align: center;
                                padding: 15px 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    .section_header {
        font-size: 30px;
        margin-bottom: 30px;
    }
}

@media (max-height: 880px) and (max-width: 420px) {
    .App {
        .intro {
            .about {
                .avatar {
                    width: 200px;
                    height: 200px;
                    margin-bottom: 5px;
                    img {
                        width: 180px;
                        height: 180px;
                    }
                }
                .about_contentBox {
                    header {
                        font-size: 20px;
                        padding-bottom: 5px;
                    }
                    .about_text {
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        // PORTFOLIO
        .portfolio {
            .porfolio_content {
                .portfolio_item {
                    flex-direction: column;
                    align-items: center;
                    .name {
                        width: 100%;
                        header {
                            font-size: 24px;
                        }

                        a {
                            width: 90%;
                            img {
                                width: 100%;
                            }
                        }
                    }
                    .details {
                        width: 100%;
                        p {
                            margin: 14px;
                        }
                        .links {
                            align-items: center;
                        }
                    }
                }
            }
        }
        // SKILLS
        .skills {
            height: fit-content;
        }

        // CONTACTS
        .contacts {
            main {
                .contacts_item {
                    margin: 10px 0 15px 0;
                    a {
                        font-size: 15px;
                    }
                    img {
                        width: 35px;
                    }
                    .about {
                        top: 8%;
                    }
                }
            }
        }
    }
    .section_header {
        font-size: 25px;
        margin-top: 30px;
    }
}

@media (max-height: 750px) and (max-width: 380px) {
    .App {
        .intro {
            .about {
                .avatar {
                    width: 180px;
                    height: 180px;
                    img {
                        width: 160px;
                        height: 160px;
                    }
                }
                .about_contentBox {
                    header {
                        font-size: 18px;
                        padding-bottom: 3px;
                    }
                    .about_text {
                        p {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        // SKILLS
        .skills {
            height: fit-content;
        }
    }
    .section_header {
        margin-top: 30px;
    }
}

@media (max-height: 670px) and (max-width: 310px) {
    .App {
        .intro {
            .about {
                top: 100px;
                .avatar {
                    display: none;
                }
            }
        }
    }
}
